/* About */
.portrait-img {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  zoom: 55%;
  border: 15px solid rgb(101, 103, 104);
  border-radius: 10px;
  background-color: rgb(237, 238, 238);
  margin-top: 50px;
  margin-bottom: 50px;
}
