/* About */
.about {
	min-height: 100vh;
}

.portrait-img {
	border: 8px solid rgb(87, 87, 88);
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgb(244, 252, 253);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
}

.portrait-img:hover {
	opacity: 0.8;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 586px) {
	.portrait-img {
		-ms-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	.portrait-img:hover {
		-ms-transform: scale(0.8) translate(5px, 0px);
		-webkit-transform: scale(0.8) translate(5px, 0px);
		transform: scale(0.8) translate(5px, 0px);
	}
}

.description {
	font-size: 20px;
}

@media screen and (max-width: 1200px) {
	.description {
		font-size: 19px;
	}
}

@media screen and (max-width: 992px) {
	.col-lg-7 {
		margin-top: -70px !important;
	}
}

@media screen and (max-width: 586px) {
	.col-lg-7 {
		margin-top: -40px !important;
	}
}
