/* Home */
#home {
	color: white;
	/* background-color: rgb(32, 35, 41); */
	background-image: url("../assets/background.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.greetings {
	font-size: 57px;
	margin-bottom: 30px;
}
.introduction {
	font-family: "Quicksand";
	font-size: 40px;
}

@media screen and (max-width: 586px) {
	.greetings {
		font-size: 50px;
	}
	.introduction {
		font-size: 35px;
	}
}
