@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Glegoo");
@import "home.css";
@import "about.css";
@import "projects.css";
@import "contact.css";
@import "navbar.css";
@import "up-arrow.css";

html,
body {
	font-family: "Work Sans";
	color: #414141;
}

/* view content center */

.center-wrap {
	display: table;
	width: 100%;
	height: 100%;
}

.center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.hr {
	background-color: #353535;
	width: 200px;
	height: 3px;
	border-radius: 10px;
}

.text-serif {
	font-family: "Glegoo";
}
