/* Navbar */

.transparent {
	background: rgba(32, 35, 41, 0.8);
}

.nav-item {
	margin-left: 7px;
	margin-right: 7px;
	font-size: 14px;
}

.nav-link.active {
	text-decoration: underline;
}

.nav-link:focus {
	outline: none;
}

.navbar-toggler {
	border: none;
	background: transparent !important;
}
.navbar-toggler:hover {
	background: transparent !important;
}
.navbar-toggler:focus {
	outline: 0;
}

.navbar-toggler span {
	display: block;
	background-color: rgb(238, 238, 238);
	border-radius: 10px;
	height: 2px;
	width: 23px;
	margin-top: 6px;
	margin-bottom: 6px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	position: relative;
	left: 0;
	opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
	-webkit-transition: transform 0.35s ease-in-out;
	-moz-transition: transform 0.35s ease-in-out;
	-o-transition: transform 0.35s ease-in-out;
	transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
	position: absolute;
	right: 25px;
	top: 17px;
	width: 28px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
	height: 12px;
	visibility: hidden;
	background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
	position: absolute;
	right: 25px;
	top: 17px;
	width: 28px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	opacity: 0.9;
}
